---

---

<section>
  <div class="container mx-auto">
    <h1 class="font-main indent-8 py-8 text-4xl">About us</h1>
    <div class="text-xl">
      <p>
        We are a construction services company specialized in development,
        maintenance and renovation of residential properties and commercial
        spaces. With over {new Date().getFullYear() - 2010} years of experience,
        we are dedicated to delivering an exceptional and personalized service tailored
        to meet our clients expectations.
      </p>
    </div>
    <h2 class="font-main italic underline text-center pt-8 text-3xl">
      You need it, We make it <br />
      You dream it, We build it
    </h2>
  </div>
</section>
