---
interface Props {
  image: string;
  title: string;
  badge?: string[];
  limitedTimeOffer?: boolean;
}

const { image, title, badge, limitedTimeOffer } = Astro.props;
---

<div class="flex">
  <div class="card bg-base-100 shadow-xl">
    <figure class="">
      <img src={image} alt="specialization" />
    </figure>
    <div class="card-body">
      {limitedTimeOffer && <div class="badge ml-auto badge-accent font-main italic text-lg">20% Off for limited time</div>}
      <h2 class="pt-2 card-title font-main text-2xl">
        {title}
      </h2>
      <p class="font-sans text-lg pb-4">
        <slot />
      </p>
      <div class="card-actions justify-end">
        {
          Array.isArray(badge)
            ? badge.map((badgeText) => (
                <div class="badge badge-outline" key={badgeText}>
                  {badgeText}
                </div>
              ))
            : null
        }
      </div>
    </div>
  </div>
</div>
