---

---

<section
  class="container py-8 mx-auto mt-8 mb-4 bg-base-200 rounded max-md:hidden"
>
  <h2 class="my-8 text-4xl font-main text-center">Contact Us</h2>
  <p class="px-16 lg:px-32 mb-8 lg:mb-12 font-light text-center sm:text-lg">
    Have a question about your project? Need assistance with a renovation? Want
    to discuss your next home improvement? Contact us today.
  </p>

  <div class="mx-16 lg:mx-64">
    <h2 class="my-4 px-4 font-main text-lg">Your Email</h2>
    <label class="input input-bordered flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="currentColor"
        class="h-4 w-4 opacity-70"
      >
        <path
          d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z"
        ></path>
        <path
          d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z"
        ></path>
      </svg>
      <input type="text" class="grow" placeholder="Email" />
    </label>
    <h2 class="my-4 pt-4 px-4 font-main text-lg">Subject</h2>
    <label class="input input-bordered flex items-center gap-2">
      <input
        type="text"
        class="grow"
        placeholder="Let us know how can we help you"
      />
    </label>

    <h2 class="my-4 pt-4 px-4 font-main text-lg">Your Message</h2>
    <textarea
      class="textarea textarea-bordered textarea-md w-full"
      placeholder="Your message..."
    >
    </textarea>
    <div class="flex justify-center">
      <button
        class="btn btn-block bg-accent rounded-lg my-8 mt-12 font-main text-lg py-0"
        >Submit</button
      >
    </div>
  </div>
</section>
