---

---

<section class="container py-8 mx-auto mt-8 mb-4 rounded max-md:hidden">
  <h1 class="font-main py-6 text-4xl text-center">FAQs</h1>
  <div class="join join-vertical w-full">
    <div class="collapse collapse-arrow join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" checked="checked" />
      <div class="collapse-title text-xl font-medium">
        This is a question that i've got.
      </div>
      <div class="collapse-content px-16">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          ullamcorper, tortor a facilisis tincidunt, ante augue pellentesque
          elit, pellentesque euismod eros metus et tellus. Morbi vel quam in
          nisi bibendum maximus at a elit. Curabitur congue ornare tempus.
          Aenean risus ex, congue id ultrices quis, congue in odio. Etiam in
          blandit lectus. Sed suscipit massa lectus, id consectetur nibh viverra
          aliquet. Donec lectus nisi, tincidunt sit amet erat nec, pretium
          bibendum libero. Donec a facilisis velit. Nunc nunc nulla, dictum
          sollicitudin nibh eget, eleifend finibus felis. Vivamus tristique
          malesuada lorem, eget vestibulum massa tristique sit amet. Quisque
          imperdiet imperdiet erat, vel rhoncus purus interdum sed.
        </p>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">
        This is a question that i've got.
      </div>
      <div class="collapse-content px-16">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          ullamcorper, tortor a facilisis tincidunt, ante augue pellentesque
          elit, pellentesque euismod eros metus et tellus. Morbi vel quam in
          nisi bibendum maximus at a elit. Curabitur congue ornare tempus.
          Aenean risus ex, congue id ultrices quis, congue in odio. Etiam in
          blandit lectus. Sed suscipit massa lectus, id consectetur nibh viverra
          aliquet. Donec lectus nisi, tincidunt sit amet erat nec, pretium
          bibendum libero. Donec a facilisis velit. Nunc nunc nulla, dictum
          sollicitudin nibh eget, eleifend finibus felis. Vivamus tristique
          malesuada lorem, eget vestibulum massa tristique sit amet. Quisque
          imperdiet imperdiet erat, vel rhoncus purus interdum sed.
        </p>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">
        This is a question that i've got.
      </div>
      <div class="collapse-content px-16">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
          ullamcorper, tortor a facilisis tincidunt, ante augue pellentesque
          elit, pellentesque euismod eros metus et tellus. Morbi vel quam in
          nisi bibendum maximus at a elit. Curabitur congue ornare tempus.
          Aenean risus ex, congue id ultrices quis, congue in odio. Etiam in
          blandit lectus. Sed suscipit massa lectus, id consectetur nibh viverra
          aliquet. Donec lectus nisi, tincidunt sit amet erat nec, pretium
          bibendum libero. Donec a facilisis velit. Nunc nunc nulla, dictum
          sollicitudin nibh eget, eleifend finibus felis. Vivamus tristique
          malesuada lorem, eget vestibulum massa tristique sit amet. Quisque
          imperdiet imperdiet erat, vel rhoncus purus interdum sed.
        </p>
      </div>
    </div>
  </div>
</section>
