---

---

<section class="container mx-auto mb-4 rounded max-md:hidden">
  <h1 id="faq" class="font-main indent-8 py-8 text-4xl">FAQs</h1>
  <div class="join join-vertical w-full">
    <div class="collapse collapse-arrow join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" checked="checked" />
      <div class="collapse-title text-xl font-medium">
        Do you work outside Pennsylvania?
      </div>
      <div class="collapse-content px-16">
        <p>
          Yes, we may consider out-of-state projects depending on the scope and
          location. Contact us to discuss your needs. We may work in Ohio and
          West Virginia if the project is near the Pittsburgh area. Contact us
          to discuss your needs.
        </p>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">
        Do you provide free estimates?
      </div>
      <div class="collapse-content px-16">
        <p>
          Absolutely! We offer free, no-obligation estimates for all projects.
        </p>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">
        How long does a typical project take?
      </div>
      <div class="collapse-content px-16">
        <p>
          The timeline varies depending on the scope and size of the project. We
          provide a detailed schedule after assessing your specific needs.
        </p>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">
        Can you help with design ideas or planning?
      </div>
      <div class="collapse-content px-16">
        <p>
          Yes, we work closely with our clients to provide design ideas,
          recommendations, and plans that match their vision and budget.
        </p>
      </div>
    </div>
    <div class="collapse collapse-arrow join-item border-base-300 border">
      <input type="radio" name="my-accordion-4" />
      <div class="collapse-title text-xl font-medium">
        How do I get started with my project?
      </div>
      <div class="collapse-content px-16">
        <p>
          Simply contact us via phone or email to schedule a consultation or
          request a free estimate. We’ll guide you through the next steps from
          planning to completition.
        </p>
      </div>
    </div>
  </div>
</section>
