---
import { SITE } from "@values/consts";
---

<footer
  class="footer footer-center bg-base-300 text-base-content text-lg font-main p-4 mt-8"
>
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} - All rights reserved by {
        SITE.COMPANY
      }
    </p>
  </aside>
</footer>

