---
import { SITE } from "@values/consts";
---
<header>
  <div class="bg-accent flex items-center place-content-center space-x-2 px-5" aria-label="badge">
      <span class="font-main text-md">Call us and get a free quote:</span>
      <span class="font-main text-md">{SITE.TELEPHONE}</span>
  </div>

  <div class="navbar">
    <div class="flex-1">
      <a class="text-xl font-main px-4">Logo</a>
      <span class="text-xl font-main">{SITE.COMPANY}</span>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal font-main text-lg px-2 py-0">
        <li><a>navigation</a></li>
        <li><a>navigation</a></li>
        <li><a>navigation</a></li>
      </ul>
    </div>
  </div>
</header>
