<header class="">
  <div class="bg-stoneyellow flex items-center place-content-center space-x-2 px-5" aria-label="badge">
      <span class="font-main text-md">Call us and get a free quote:</span>
      <span class="font-main text-md"> (412) 123-4567</span>
  </div>
</header>
