---
import MapComponent from "../components/react/Map.jsx";
---

<section>
  <div class="container mx-auto">
    <h1 id="location" class="font-main indent-8 py-8 text-4xl">Location</h1>
    <div class="text-xl">
      <p>
        We are a proudly established company based in Freedom, PA, dedicated to
        serving our community with integrity and excellence. Our work strictly
        adheres to all regulations and standards within Pennsylvania, ensuring
        compliance, quality, and safety in every project we undertake.
      </p>
    </div>
  </div>
</section>

<section>
  <h1 class="font-main indent-8 py-8 text-4xl">Our Coverage</h1>
  <div class="container mx-auto">
    <MapComponent client:only="react" />
  </div>
</section>
