---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '@fontsource/bebas-neue';
import '@fontsource-variable/inter';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Stone</title>
	</head>
	<body class="flex flex-col min-h-dvh">
		<Header />
			<main class="flex-grow max-w-screen px-6">
				<slot />
			</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
